@model FitnessClubManagement.Entities.Appointment
@{
    ViewData["Title"] = "Book Appointment";
}
<div class="card" style="width:100%; margin:10px;">
    <div class="card-header bg-success text-white">
        <h5>Hire a GYM Trainer for Demo, Fill Your First Details</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName)
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrentWeight)
                        @Html.TextBoxFor(m => m.CurrentWeight, new { @class = "form-control" })
                        <span asp-validation-for="CurrentWeight" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Height)
                        @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Age)
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GoalWeight)
                        @Html.TextBoxFor(m => m.GoalWeight, new { @class = "form-control" })
                        <span asp-validation-for="GoalWeight" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Remark)
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })
                        <span asp-validation-for="Remark" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Book Demo</button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Fitness")';return false;">Back To Home</button>
            </div>
        }
    </div>
</div>