@model FitnessClubManagement.Entities.DietPlan
@{
    ViewData["Title"] = "Diet Plan Details";
}
<div class="card" style="width:100%; margin-top:10px;">
    <div class="card-header bg-dark text-white">
        <h5>Diet Plan Details</h5>
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="card flex-md-row mb-4 box-shadow h-auto">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Diet Plan Overview :- @Html.DisplayFor(m => m.PlanOverview)</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">@Html.DisplayFor(m => m.Name)</a>
                        </h3>
                        <div class="mb-1 text-dark"><strong>Description : </strong>@Html.DisplayFor(m => m.Descriprtion)</div>
                        <p class="card-text mb-auto"><strong>History :- </strong>@Html.DisplayFor(m => m.History)</p>
                        <p class="card-text mb-auto"><strong>Meal Timing Frequency :- </strong>@Html.DisplayFor(m => m.MealTimingFrequency)</p>
                        <p class="card-text mb-auto"><strong>Restrictions Limitations :- </strong>@Html.DisplayFor(m => m.RestrictionsLimitations)</p>
                        <p class="card-text mb-auto"><strong>Phases :- </strong>@Html.DisplayFor(m => m.Phases)</p>
                        <p class="card-text mb-auto"><strong>BestSuited For :- </strong>@Html.DisplayFor(m => m.BestSuitedFor)</p>
                        <p class="card-text mb-auto"><strong>How To Follow :- </strong>@Html.DisplayFor(m => m.HowToFollow)</p>
                        <p class="card-text mb-auto"><strong>Conclusion :- </strong>@Html.DisplayFor(m => m.Conclusion)</p>
                    </div>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Back to Diet Plan", "DietPlan", "Fitness", new { @class = "btn btn-primary" })
        </p>
    </div>
</div>